<%- include header.ejs%>
<form method="post">
    标题：<input type="text" name="title"><br/>
    标签名：<input type="text" name="tag1"><input type="text" name="tag2"><input type="text" name="tag3"><br/>
    内容：<textarea name="post" rows="20" cols="100"></textarea><br/>
    <input type="submit" value="发布">
</form>

<%- include footer.ejs%>